# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\GITHUB\byyl_exp1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
